.nct
{
    background-color: #357EDD;
    width: 100%;  

}


@media (max-width: 767px) {
    .nct {
        height: 150px;
    }
}

@media (min-width: 768px) {
    .nct {
        height: 100px;
    }
}

@media (min-width: 992px) {
    .nct {
        height: 100px;
    }
}

@media (min-width: 1200px) {
   .nct {
        height: 100px;

    }
}
